form[action*='AddPost'],
form[action*='EditPost'] {
  // The post that is being replied to
  .ForumReplyToPostArea {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: none;
    margin: 1em 0;
    padding: 0.5em 1em 1em 1em;
    border: none;
    border-top: 1px solid $color-primary;
    border-right: 1px solid $color-primary;
    border-radius: 0;

    .CommonTextButton {
      margin: 0;
      padding: 0;
    }
  }

  .CommonFormField,
  .CommonFormFieldName {
    color: $color-medium-secondary-text !important;
  }

  .CommonFormFieldName {
    margin-left: 4px;
  }

  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    min-width: 70px;

    &:hover {
      color: #000;
      background-color: $color-light-secondary-head;
    }
  }

  #ctl00_ctl00_bcr_bcr_PostForm_ctl05_PlaceHolder1_ctl01_SubscribeToThread {
    vertical-align: text-bottom;
    margin-bottom: 1px;
  }

  .validationWarning {
    margin-left: 4px;
    color: white;
  }

  // Options Tab
  #ctl00_ctl00_bcr_bcr_PostForm_ctl05_OptionsPane {
    .CommonFormField,
    .CommonFormFieldName {
      padding-left: 0px;
    }

    & > .CommonFormField {
      button,
      input[type='submit'] {
        width: 120px !important;
        height: 2em !important;
        border-radius: 2px !important;
        border: none;
        background-color: #e39c4f;
        color: #333;
        margin: 0.5em 0 0 0.5em !important;
      }
    }

    #ctl00_ctl00_bcr_bcr_PostForm_ctl05_AttachmentSubForm_ctl00_Filename
      + button {
      margin-left: 10px;
    }

    #ctl00_ctl00_bcr_bcr_PostForm_ctl05_ctl09_ctl02_IsLocked {
      margin: 0 0 1px 4px;
      vertical-align: text-bottom;
    }
  }

  // Poll tab
  #ctl00_ctl00_bcr_bcr_PostForm_ctl05_PollPane {
    padding-left: 8px;

    #ctl00_ctl00_bcr_bcr_PostForm_ctl05_PollSubForm_ctl00_IncludePoll {
      vertical-align: text-bottom;
      margin-bottom: 1px;
    }

    & > .CommonFormFieldName {
      margin-left: 0;
      padding-left: 0;
    }

    & > .CommonFormField {
      color: white !important;
    }

    #PollContainer {
      .CommonFormField,
      .CommonFormFieldName {
        margin-left: 0;
      }
      input {
        margin-left: 0;
      }
      input[type='submit'] {
        color: #333;
        background-color: $color-medium-secondary-text;
        border: none;
        padding: 0.5em 1.5em;
        width: auto !important;
        height: auto !important;
        &:hover {
          border: none;
        }
      }
    }
  }
}
