// Modal dialogs

%modal-form-buttons {
  background-image: none;
  background-color: $color-light-secondary-background;
  color: #666;
  border-radius: 4px;
  border: 1px solid  #666;

  &:hover,
  &:focus {
    color: #000;
    border-color: #000;
  }
}


.CommonModal {
  @include mdl-shadow--24dp;
  background-color: $color-logos-brand-header;
  border: solid 3px #ccc;

  .CommonModalTitle {
    background-color: $color-logos-brand-header;
    border: none;
  }
}

.CommonModalFooter {
  height: 18px;
}

.CommonModalResize {
  right: 4px;
  bottom: 4px;
}

// Quick Reply Modal
form[action*="QuickReply"] {
  #CommonOuter {
    @include mdl-shadow--24dp;
  }

  .CommonFormFieldName > label {
    color: $color-medium-secondary-text;
  }
}

// Reply & Quick Reply
#ctl00_ctl00_bcr_bcr_PostForm_ctl05_EditorTabs {
  background-color: $color-content-background;
  margin: 0;
  padding: 0;
}

// The post that is being replied to
.ForumReplyToPostArea {
  background-color: rgba(0, 0, 0, .05);
  box-shadow: none;
  margin: 1em 0;
  padding: .5em 1em 1em 1em;
  border: none;
  border-top: 1px solid $color-primary; // or top-right or bottoom right or left-bottom ???
  border-right: 1px solid $color-primary;
  border-radius: 0;

  .CommonTextButton {
    margin: 0;
    padding: 0;
  }
}

// The text "Description" above the reply form
.ForumReplyToPostArea + .CommonFormArea > .CommonFormFieldName {
  color: $color-medium-secondary-text;
}

#ctl00_ctl00_bcr_bcr_PostForm_ctl05_OptionsPane > .CommonFormFieldName > label {
  color: $color-medium-secondary-text;
}

.CommonContentBoxHeaderForm .CommonContentBoxHeaderInline a {
  text-shadow: $header-text-shadow;
}


.CommonFormArea {
  background-color: $color-content-background;
  padding: 5px;
}

// XXX: This selector catches sub-documents that appear in iframes
// and tend to be undeclared. It's ugly, and breaks error pages.
html:not([xmlns="http://www.w3.org/1999/xhtml"]) {
  background: white;
}

.mceContentBody {
  background-color: white;
}

.CommonFormField label {
  color: $color-medium-secondary-text;
  letter-spacing: .25px;
}

div.CommonFormFieldPadding {
  padding: 5px 10px 10px 10px;
}


// HTML Editor

body.forceColors {
  background-color: $color-page-background; // #f0f0ee;

  #insert, #cancel, input {
    @extend %modal-form-buttons;
    margin: 0;
  }

  textarea {
    margin: .25em 0 0 0;
    padding: .5em;
    background-color: #fff;
  }
}

// Insert Media
body#image {

  .panel_wrapper {
    height: 224px;
  }

  .CommonModal {
    background-color: $color-page-background;
  }

  #src, #alt {
    width: 160px !important;
  }

  #insert,
  #cancel,
  .mceActionPanel input {
    @extend %modal-form-buttons;
    margin-bottom: 8px;
  }
}

.CommonPane {

  input[type='submit'] {
    @extend %modal-form-buttons;
  }

  input[value='cancel'] {
    float: right;
  }
}

// Quick Reply Modal
form[action*="UploadAttachment"] {
  .CommonFormArea {
    background-color: white;
  }

  input[type='submit'] {
    @extend %modal-form-buttons;
  }
}


form[action*='ReportAbuse'] {

  .CommonPaneTabSelected {
    @extend .TabButton;
    background-color: $color-medium-secondary-text !important;
    font-weight: 700 !important;
    width: 92px;
    height: 30px;
    padding: 8px;
  }

  .CommonFormArea {
    padding: 0;
  }

  .CommonFormFieldName {
    & > label {
      color: $color-medium-secondary-text;
      text-shadow: $header-text-shadow;
      font-size: 20px;
    }

    .validationWarning {
      color: transparent;

      &::before {
        @include fa-icon;
        @extend .fas;
        content: fa-content($fa-var-exclamation-triangle);
        color: $color-medium-secondary-text;
        vertical-align: top;
      }
    }
  }

  .CommonFormField > input {
    margin: 0;
    height: 2em;
  }
}
