// Modal dialogs

%modal-form-buttons {
  background-image: none;
  background-color: $color-light-secondary-background;
  color: #666;
  border-radius: 4px;
  border: 1px solid #666;
  margin-top: 4px !important;
  margin-right: 4px !important;
  transform: none;
  box-shadow: none;

  &:hover,
  &:focus {
    color: #000;
    border-color: #000;
    transform: none;
    box-shadow: none;
  }
}

.mceActionPanel {
  margin: 0;
}

.CommonModal {
  @include mdl-shadow--24dp;
  background-color: $color-logos-brand-header;
  border: solid 3px #ccc;

  .CommonModalTitle {
    background-color: $color-logos-brand-header;
    border: none;
  }
}

.CommonModalFooter {
  height: 18px;
}

.CommonModalResize {
  right: 4px;
  bottom: 4px;
}

// Quick Reply Modal
form[action*='QuickReply'] {
  #CommonOuter {
    @include mdl-shadow--24dp;
  }

  .CommonFormFieldName > label {
    color: $color-medium-secondary-text;
  }
}

.CommonContentBoxHeaderForm .CommonContentBoxHeaderInline a {
  text-shadow: $header-text-shadow;
}

.CommonFormArea {
  background-color: $color-content-background;
  padding: 5px;
}

// XXX: This selector catches sub-documents that appear in iframes
// and tend to be undeclared. It's ugly, and breaks error pages.
html:not([xmlns="http://www.w3.org/1999/xhtml"]) {
  background: white;
}

.mceContentBody {
  background-color: white;
}

div.CommonFormFieldPadding {
  padding: 0 10px 10px;
}

// HTML Editor

body.forceColors {
  background-color: $color-page-background;

  #insert,
  #cancel,
  input {
    @extend %modal-form-buttons;
    margin: 0;
  }

  textarea {
    margin: 0.25em 0 0 0;
    padding: 0.5em;
    background-color: #fff;
  }
}

// Insert Media
body#image {
  .panel_wrapper {
    height: 224px;
  }

  .CommonModal {
    background-color: $color-page-background;
  }

  .tabs {
    span {
      background: none;
      background-color: white;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom: none;
    }

    .current {
      background: none;
      background-color: white;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border: 1px solid #999;
      border-bottom: none;
    }
  }

  #src,
  #alt {
    width: 160px !important;
  }

  #insert,
  #cancel,
  .mceActionPanel input {
    @extend %modal-form-buttons;
    padding: 0;
    margin-bottom: 8px;
    font-size: 95%;
  }

  #cancel {
    margin-right: 0 !important;
  }

  select {
    margin-left: 0;
  }
}

.CommonPane {
  input[type='submit'] {
    @extend %modal-form-buttons;
  }

  input[value='cancel'] {
    position: absolute;
  }
}

// Quick Reply Modal
form[action*='UploadAttachment'] {
  .CommonFormArea {
    background-color: white;
  }

  input[type='submit'] {
    @extend %modal-form-buttons;
  }
}

.validationWarning {
  color: transparent;

  &::before {
    @include fontawesome-icon($fa-var-exclamation-triangle, 16px);
    color: yellow;
    vertical-align: top;
    width: 1.5em;
  }
}
