
// ????
h4.CommonContentBoxHeader + .CommonContentBoxContent {
  color: white;
}

// Thread title, Above the content box
h1.CommonTitle {
  font-variant: small-caps;
  font-size: 200%;
  font-weight: 500;
  color: black;
}

// Container for the forum content
.CommonContentBox {
  background-color: $color-content-background;
  border-radius: 10px;
  padding: 5px;
}

// Dark colored header on content boxes where there is no Form (Main page, Profile page)
#CommonContent .CommonContentBoxHeader {
  background-image: none;
  color: $color-medium-secondary-text;
  padding: 10px 10px 0 10px;
  text-shadow: $header-text-shadow;
}

// Form at top of forum content box
.CommonContentBoxHeaderForm {
  background-image: none;
  margin: 10px 10px 0 10px;
  border: 1px outset $color-logos-brand-header;
  border-radius: 8px;
  box-shadow: $button-shadow;
  padding: 5px;
  color: $color-logos-brand-header;

  a {
    color: $color-medium-secondary-text;
  }

  a.ForumLinkUnread,
  .ForumLinkUnread:link,
  .ForumLinkUnread:visited {
    color: $color-medium-secondary-text;
  }
}

// Container for forum content, excluding header & footer
.CommonContentBoxContent {
  padding: 10px;

  table a {
    color: $color-medium-secondary-text;
  }

  .ForumPostButtons a {
    color: $color-secondary;
  }

  // These are used on search results page for post abstract bubbles
  li.CommonAvatarListItemArea {
    background-color: desaturate($color-light-primary-background, 30);
    box-shadow: $card-shadow;
    color: black;
  }

  li.CommonAvatarListItemArea.Alt {
    background-color: desaturate($color-light-secondary-background, 30);
    box-shadow: $card-shadow;
    color: black;
  }

  // XXX Reply Form ???
  div.CommonPane {
    background-color: $color-light-secondary-background;

    .CommonFormField label {
      color: black;
    }
  }
}

.CommonListArea {
  padding: 2px 0;
  box-shadow: $card-shadow;

  table a {
    color: #056cb6;
  }
}

.CommonListHeader {
  color: black;
  background-color: $color-logos-brand-header !important;
  font-family: $font-stack;
}

.CommonDescription {
  color: $color-logos-brand-header;
  margin: 0;
}

.CommonListRow td {
  background-color: desaturate($color-light-primary-background, 30);
}

.CommonListRowAlt td {
  background-color: grayscale($color-light-primary-background);
}

.CommonListCell {
  font-family: $font-stack;
  padding: 10px;
}

.ForumPostHeader {
  background-color: $color-logos-brand-header;
  border-radius: 8px;
  box-shadow: $card-shadow;
  margin: 10px 0;

  .CommonContentBoxFooter {
    color: Black;
  }
}

.CommonContentBoxFooter {
  padding: 0 10px 10px 10px;
  border-top: none;
  color: $color-logos-brand-header;

  a:link,
  a:visited {
    color: $color-medium-secondary-text;
  }
}


// XXX: Fixes the mis-colored empty form on the favorites page.
h4.CommonAvatarListItemName ~ .CommonFormArea {
  display: none;
}
