// Thread title, Above the content box
h1.CommonTitle {
  font-variant: small-caps;
  font-size: 200%;
  font-weight: 500;
  color: black;
}

// Container for the forum content
.CommonContentBox {
  background-color: $color-content-background;
  border-radius: 10px;
  padding: 8px 8px 2px 8px !important;
}

// Dark colored header on content boxes where there is no Form (Main page, Profile page)
#CommonContent .CommonContentBoxHeader {
  background-image: none;
  color: $color-medium-secondary-text;
  margin: 0;
  padding: 10px 10px 0 10px;
  text-shadow: $header-text-shadow;
}

// Form at top of forum content box
.CommonContentBoxHeaderForm {
  @include mdl-shadow--2dp;
  background-image: none;
  margin: 10px 10px 0 10px;
  border: 1px outset $color-logos-brand-header;
  border-radius: 8px;
  padding: 8px 12px 4px 12px;
  color: $color-logos-brand-header;

  a {
    color: $color-medium-secondary-text;
  }

  a.ForumLinkUnread,
  .ForumLinkUnread:link,
  .ForumLinkUnread:visited {
    color: $color-medium-secondary-text;
  }
}

// Container for forum content, excluding header & footer
.CommonContentBoxContent {
  padding: 10px;

  table a {
    color: $color-medium-secondary-text;
  }

  .ForumPostButtons a {
    color: $color-secondary;
  }

}

.CommonListArea {
  @include mdl-shadow--2dp;
  padding: 0;

  table a {
    color: $color-logos-blue;
  }

  // remove last dotted border in list
  & > table tr:last-of-type td {
    border-bottom: none;
  }
}

.CommonListHeader {
  color: black;
  background-color: $color-logos-brand-header !important;
  font-family: $font-stack;
}


.CommonListRow td,
.CommonListRowAlt td {
  background-color: transparent;
}

.CommonListRow {
  background-color: desaturate($color-light-primary-background, 30);

  &:hover {
    background-color: transparentize(desaturate($color-light-primary-background, 30), .05);
  }
}

.CommonListRowAlt {
  background-color: grayscale($color-light-primary-background);

  &:hover {
    background-color: transparentize(grayscale($color-light-primary-background), .05);
  }
}

.CommonListCell {
  font-family: $font-stack;
  color: #333;
  padding: 10px;
}

.ForumPostHeader {
  @include mdl-shadow--2dp;
  background-color: $color-logos-brand-header;
  border: none;
  border-radius: 8px;
  margin: 10px 0;


  .CommonContentBoxFooter {
    color: Black;
    font-weight: normal;

    a:link,
    a:visited,
    a:active,
    a:hover {
      color: $color-secondary;
      font-weight: 500;
      letter-spacing: .5px;
    }
  }
}

.CommonContentBoxFooter {
  padding: 0 10px 10px 10px;
  border-top: none;
  color: $color-logos-brand-header;

  a:link,
  a:visited {
    color: $color-medium-secondary-text;
  }
}

a.ForumGroupNameReadText,
a.ForumGroupNameUnReadText,
.ForumGroupNameReadText:link,
.ForumGroupNameUnReadText:link,
.ForumGroupNameReadText:visited,
.ForumGroupNameUnReadText:visited {
  color: $color-logos-blue;
  padding-left: 12px;
}

.CommonListArea table a {
  color: $color-logos-blue;
}

a.ForumNameUnRead,
.ForumNameUnRead:link,
.ForumNameUnRead:visited {
  color: $color-logos-blue;
  font-weight: bold;
}

a.ForumNameRead,
.ForumNameRead:link,
.ForumNameRead:visited {
  color: $color-content-background;
}

.CommonDescription {
  color: $color-light-secondary-background;
  margin: 8px 0 4px 0 !important;
}
