// Modal dialogs

%modal-form-buttons {
  background-image: none;
  background-color: $color-light-secondary-background;
  color: #666;
  border-radius: 4px;
  border: 1px solid  #666;

  &:hover,
  &:focus {
    color: #000;
    border-color: #000;
  }
}


.CommonModal {
  @include mdl-shadow--24dp;
  background-color: $color-logos-brand-header;
  border: solid 3px #ccc;

  .CommonModalTitle {
    background-color: $color-logos-brand-header;
    border: none;
  }
}

.CommonModalFooter {
  height: 18px;
}

.CommonModalResize {
  right: 4px;
  bottom: 4px;
}

// Quick Reply Modal
form[action*="QuickReply.aspx"] #CommonOuter {
  @include mdl-shadow--24dp;
}

// Reply & Quick Reply
#ctl00_ctl00_bcr_bcr_PostForm_ctl05_EditorTabs {
  background-color: $color-content-background;
  margin: 0;
  padding: 0;
}


// ???
.ForumReplyToPostArea {
  border: outset 1px $color-page-background;
  background-color: $color-light-primary-background;
}


.CommonContentBoxHeaderForm .CommonContentBoxHeaderInline a {
  text-shadow: $header-text-shadow;
}


.CommonFormArea {
  background-color: $color-content-background;
  padding: 5px;
}

// XXX: This selector catches sub-documents that appear in iframes
// and tend to be undeclared. It's ugly, and breaks error pages.
html:not([xmlns="http://www.w3.org/1999/xhtml"]) {
  background: white;
}

.mceContentBody {
  background-color: white;
}

.CommonFormField label {
  color: $color-logos-brand-header;
}

.CommonFormFieldName {
  color: $color-medium-secondary-text;
}

div.CommonFormFieldPadding {
  padding: 5px 10px 10px 10px;
}


// HTML Editor

body.forceColors {
  background-color: $color-page-background; // #f0f0ee;

  #insert, #cancel, input {
    @extend %modal-form-buttons;
    margin: 0;
  }

  textarea {
    margin: .25em 0 0 0;
    padding: .5em;
    background-color: #fff;
  }
}

// Insert Media
body#image {

  .panel_wrapper {
    height: 224px;
  }

  .CommonModal {
    background-color: $color-page-background;
  }

  #src, #alt {
    width: 160px !important;
  }

  #insert,
  #cancel,
  .mceActionPanel input {
    @extend %modal-form-buttons;
    margin-bottom: 8px;
  }
}

.CommonPane {
  input[type='submit'] {
    @extend %modal-form-buttons;
  }

  input[value='cancel'] {
    float: right;
  }
}

// *** TODO: Fix Report Abuse form
// // Report Abuse
// a.CommonPaneTabSelected[href="#"] {
//   display: none !important;
// }

// div#ctl00_ctl00_bcr_bcr_PostForm_ctl05_EditorTabs.CommonPane {
//   background-color: $color-content-background;
// }
