#CommonHeader {
  @include mdl-shadow--2dp;
  background-color: $color-logos-brand-header;
  padding-top: .75em;
}

#CommonHeaderTitleArea {
  width: 970px;
  height: 60px;

  table {
    table-layout: fixed;

    tr {
      vertical-align: middle;

      td:first-child {
        width: 500px;

        a {
          display: inline-block;
          background-image: url(https://styles2.faithlifecdn.com/Content/Images/faithlife-logo.svg);
          background-size: cover;
          width: 180px;
          height: 52px;

          &::after {
            content: "Community";
            color: #666666;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 44px;
            font-weight: 300;
            position: relative;
            left: 190px;
          }

          &:hover {
            text-decoration: none;
            filter: drop-shadow(0px 0px 2px rgba($color-faithlife-green, .7));
          }
        }
      }
    }

    img {
      display: none;
    }
  }
}

// Hide header shadow image
#CommonNavigationShadow {
  visibility: hidden;
  display: inline;
}
