form[action*="SearchResults"] {
  & .Common {
    box-shadow: none !important;
  }

  #ctl00_bcr_ctl00_ctl00_SearchTextTop {
    height: 1.8em;
    width: 90%;
    padding: .25em .75em;
    border: 1px solid #666;
    color: #333;
    font-weight: 400;
    font-size: 100%;
    letter-spacing: .05em;
    margin-bottom: 8px;

    & + span:nth-of-type(2)::before {
      // next 2 lines force a line break
      content: ' \A';
      white-space: pre;
    }
  }

  #ctl00_bcr_ctl00_ctl00_SearchButtonTop {
    width: auto !important;
    margin-left: 12px;
  }

  // These are used on search results page for post abstract bubbles
  .CommonAvatarListItemArea {
    @include mdl-shadow--2dp;
    background-color: desaturate($color-light-primary-background, 30);
    color: black;
  }

  .CommonAvatarListItemArea.Alt {
    @include mdl-shadow--2dp;
    background-color: desaturate($color-light-secondary-background, 30);
    color: black;
  }

  // The last one should not have bottom margin
  .CommonAvatarListItemArea:last-child {
    margin-bottom: 0;
  }
}
