#CommonSidebarLeft,
#CommonSidebarRight {
  .CommonContentBoxHeader {
    background-image: none;
    padding: 0;
    margin: 8px;
    border-bottom: 1px solid $color-medium-secondary-text;
    color: $color-medium-secondary-text;
    text-shadow: $header-text-shadow;
  }

  .CommonContentBox {
    padding: 5px;
  }

  ul.CommonContentBoxList a {
    color: $color-light-secondary-head;
  }
}


// Left Sidebar
#CommonSidebarLeft {
  .CommonContentBoxContent {
    color: $color-light-secondary-head;
    margin: 0;
    padding: 10px;

    display: flex !important;
    flex-flow: column nowrap;
    align-items: center;

    div {
      float: none !important;
      margin: 0 !important;
      display: flex;
      flex-flow: column;
      align-items: center;

      img {
        max-width: 100%;
        width: 100% !important;
        height: auto !important;
        margin-bottom: 10px;
        box-shadow: $card-shadow;
        border-radius: 8px;
      }

      div {
        display: block;
      }
    }

    a {
      color: $color-medium-secondary-text;
    }
  }
}

// Sidebar common
ul.CommonContentBoxList,
ul.CommonSidebarList a {
  color: $color-light-secondary-head;
}
