// Left Sidebar
#CommonSidebarLeft {
  .CommonContentBoxHeader {
    border-bottom: 1px solid $color-medium-secondary-text;
    margin: 8px;
    padding: 0;
  }

  .CommonContentBox {
    padding: 5px;
  }

  .CommonContentBoxContent {
    color: $color-light-secondary-head;
    margin: 0;
    padding: 10px;

    display: flex !important;
    flex-flow: column nowrap;
    align-items: center;

    div {
      float: none !important;
      margin: 0 !important;
      display: flex;
      flex-flow: column;
      align-items: center;

      img {
        max-width: 100%;
        width: 100% !important;
        height: auto !important;
        margin-bottom: 10px;
        box-shadow: $card-shadow;
        border-radius: 8px;
      }

      div {
        display: block;
      }
    }

    a {
      color: $color-medium-secondary-text;
    }
  }

  ul.CommonContentBoxList a {
      color: $color-light-secondary-head;
  }

  ul.CommonContentBoxList a[href="https://faithlife.com/account/edit"] {
    border-top: 1px dashed $color-light-secondary-head;
    padding-top: 2px;
    position: relative;
    top: 12px;
    font-size: 8pt;
    font-weight: normal;
  }

}

// Right Sidebar
#CommonSidebarRight {
  .CommonContentBoxHeader {
    border-bottom: 1px solid $color-medium-secondary-text;
    margin: 8px;
    padding: 0;
  }

  .CommonContentBox {
    padding: 5px;
  }

  ul.CommonContentBoxList a {
    color: $color-light-secondary-head;
  }
}

// Sidebar common
ul.CommonContentBoxList,
ul.CommonSidebarList a {
  color: $color-light-secondary-head;
}
