
form[action*="ForumSubscriptions"] {

  .CommonContentBox {
    padding: 8px !important;
  }

  .CommonDescription {
    margin: 0 0 8px 0 !important;
  }

  .CommonListTitle::after {
    font-weight: 400;
    font-size: 60%;
    content: "(Select \2714 or \2718 to toggle forum subscriptions on or off.)";
    margin-left: 1em;
  }

  .CommonListHeader {
    background-color: $color-light-secondary-head !important;

    // center Subscribe column header
    &:nth-of-type(2) {
      text-align: center;
    }
  }

  .CommonListArea {
    background: $color-light-secondary-background;
    border-radius: 6px;
    padding: 1em;

    table {
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;

      // restore border that's removed in general tables
      tr:last-of-type td {
        border-bottom: 1px solid #ccc;
      }
    }
  }

  .CommonListCell a[id$="_off"],
  .CommonListCell a[id$="_on"],
  .CommonListCell a[id$="_processing"] {
    color: transparent;

    &::before {
      position:relative;
      left: .7em;
      font-size: 120%;
      font-weight: 700;
      color: #333;
    }
  }

  .CommonListCell a[id$="_off"]::before {
    content: "\2718";
  }

  .CommonListCell a[id$="_on"]::before {
    content: "\2714";
  }

  .CommonListCell a[id$="_processing"]::before {
    content: "\2026"; // "\231b"
  }

}
