
form[action^="/forums/ForumSubscriptions.aspx"] {

  // center Subscribe column header
  .CommonListHeader:nth-of-type(2) {
    text-align: center;
  }

  .CommonListArea {
    background: #fff;
    padding: 1em;

    table {
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
    }
  }

  .CommonListCell a[id$="_off"] {
    color: transparent;

    &::before {
      content: "\2718";
      font-size: 120%;
      font-weight: 700;
      color: #ff0000;
    }
  }

  .CommonListCell a[id$="_on"] {
    color: transparent;

    &::before {
      content: "\2714";
      font-size: 120%;
      font-weight: 700;
      color: #008000;
    }
  }

  .CommonListCell a[id$="_processing"] {
    color: transparent;

    &::before {
      content: "\2026"; // "\231b"
      font-size: 120%;
      font-weight: 700;
      color: #000;
    }
  }
}
