
form[action^="/forums/ForumSubscriptions.aspx"] {

  h2.CommonListTitle::after {
    font-weight: 400;
    font-size: 60%;
    content: "(Select \2714 or \2718 to toggle forum subscriptions on or off.)";
    margin-left: 1em;
  }

  // center Subscribe column header
  .CommonListHeader:nth-of-type(2) {
    text-align: center;
  }

  .CommonListArea {
    background: #fff;
    padding: 1em;

    table {
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
    }
  }


  .CommonListCell a[id$="_off"],
  .CommonListCell a[id$="_on"],
  .CommonListCell a[id$="_processing"] {
    color: transparent;

    &::before {
      font-size: 120%;
      font-weight: 700;
      color: #333;
    }
  }

  .CommonListCell a[id$="_off"]::before {
    content: "\2718";
  }

  .CommonListCell a[id$="_on"]::before {
    content: "\2714";
  }

  .CommonListCell a[id$="_processing"]::before {
    content: "\2026"; // "\231b"
  }
}
