.Normal .CommonCommentUser {
  width: 100px; // so we can use margin auto to center img below
}

.ForumPostUserAvatar {
  padding: 14px 0 4px 0;
}

.ForumPostUserAvatar a {
  display: block;
}

.ForumPostUserAvatar img {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  background-color: white; // transparent causes funky bkgrnds on non-sqare images
  transition: transform 0.4s ease-in-out;
  z-index: 1;

  &:hover {
    @include mdl-shadow--8dp;
    transform: scale(2) translate(26px, 18px);
    position: absolute;
  }
}
