.CommonTextButton {
  color: $color-medium-secondary-text;
}

.ReplyButton,
.MoreButton {
  @include mdl-shadow--2dp;
  background-image: none;
  background-color: $color-medium-secondary-text;
  border-radius: 1em;
  margin: 0 2px;
  padding: .1em .5em .1em .5em;
  opacity: 0.85;
  transition-duration: 0.3s;
  width: 60px;

  &:link,
  &:visited {
    @include mdl-shadow--2dp;
    transition: all .1s;
  }

  &:hover {
    @include mdl-shadow--4dp;
    opacity: 1;
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: none;
  }

  & a:hover {
    text-decoration: none;
  }

  span {
    color: #333;
    padding: .1em .1em .1em .2em;
    text-align: center;
    width: auto;

  font {
      margin-left: .25em;
    }
  }

}

