.CommonTextButton {
  color: $color-medium-secondary-text;
}

.ReplyButton,
.MoreButton {
  background-image: none;
  background-color: $color-medium-secondary-text;
  border-radius: 8px;
  box-shadow: $button-shadow;
  margin: 0 2px;
  opacity: 0.7;
  padding: 0 2px;
  transition-duration: 0.3s;

  &:link,
  &:visited {
    transition: all .1s;
    box-shadow: $button-shadow;
  }

  &:hover {
    opacity: 1;
    transform: translateY(-1px);
    box-shadow: $button-shadow-raised;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: none;
  }

  & a:hover {
    text-decoration: none;
  }

  span {
    color: black;
  }
}

.TabButton {
  background-image: none;
  background-color: $color-medium-secondary-text;
  border-radius: 8px;
  box-shadow: $button-shadow;
  color: black;
  margin: 0;
  opacity: 0.7;
  transition-duration: 0.3s;

  &:link,
  &:visited {
    transition: all .1s;
    box-shadow: $button-shadow;
  }

  &:hover {
    opacity: 1;
    transform: translateY(-1px);
    box-shadow: $button-shadow-raised;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: none;
  }
}

.CommonPaneTabSet {
  margin: 0 0 -8px 0;
}

#CommonPaneTabSet {
  .CommonPaneTab,
  .CommonPaneTabHover,
  .CommonPaneTabSelected {
    margin: 0;
    padding: 10px 10px 3px 10px;
  }
}
