button,
[type='button'],
[type='reset'],
[type='submit'] {
  display: inline-block;
  background: $color-medium-secondary-text;
  height: 2em !important;
  width: 80px !important;
  padding: 0.5em 1.2em;
  margin: 0.25em 0;
  border: none;
  border-radius: 2px !important;
  text-decoration: none;
  font-family: $font-stack;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  text-align: center;

  transition: all 0.1s;
  color: #333;

  &:hover {
    color: #000 !important;
    background-color: $color-light-secondary-head !important;
  }

  &:active {
    box-shadow: none;
  }
}

.CommonTextButton {
  color: $color-medium-secondary-text;
}

.ReplyButton,
.MoreButton {
  @include mdl-shadow--2dp;
  background-image: none;
  background-color: $color-medium-secondary-text;
  border-radius: 1em;
  width: 60px;
  margin: 0 2px;
  padding: 0.1em 0.5em 0.1em 0.5em;
  opacity: 0.9;
  transition-duration: 0.3s;
  transition: all 0.1s;

  &:link,
  &:visited {
    @include mdl-shadow--2dp;
  }

  &:hover {
    @include mdl-shadow--4dp;
    opacity: 1;
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: none;
  }

  & a:hover {
    text-decoration: none;
  }

  span {
    color: #333;
    padding: 0.1em 0.1em 0.1em 0.2em;
    text-align: center;
    width: auto;

    font {
      margin-left: 0.25em;
    }
  }
}
