// Reply Header Description
// ctl00_ctl00_bcr_bcr_PostForm_ctl05_ComposePane
.Editor .CommonFormArea > .CommonFormFieldName > strong {
  font-size: 20px;
  text-shadow: $header-text-shadow;
}

// Quick Reply Header Description
.CommonFormArea > .CommonFormFieldName > label[for="ctl00_bcr_PostForm_ctl05_PostBody"] {
  font-size: 20px;
  text-shadow: $header-text-shadow;
}


.defaultSkin table.mceLayout {
  border: 1px solid #999;
  box-shadow: $menu-shadow;
}

.defaultSkin table.mceLayout tr.mceFirst td {
  border: none;
}

.defaultSkin table.mceLayout tr.mceLast td {
  border: none;
}


// Toolbar
.defaultSkin td.mceToolbar {
  padding: 4px 2px;
  background: linear-gradient(
    to bottom,
    rgba(192, 192, 192, 1) 0%,
    rgba(160, 160, 160, 1) 80%,
    rgba(144, 144, 144, 1) 100%
  );
}

// Statusbar
.defaultSkin td.mceStatusbar {
  background: linear-gradient(
    to bottom,
    rgba(192, 192, 192, 1) 0%,
    rgba(160, 160, 160, 1) 80%,
    rgba(144, 144, 144, 1) 100%
  );
}


// Toolbar Buttons
.defaultSkin .mceButton {
  border: 1px solid transparent;
  width: 24px;
  height: 24px;
  margin: 2px;
}

.defaultSkin .mceSplitButton span.mceAction {
  width: 18px;
  height: 18px;
  background-image: none;
}

.defaultSkin .mceIcon {
  background: none;
  width: 24px;
  height: 24px;
}

.defaultSkin img.mceIcon {
  display: none;
}

.defaultSkin .mceSeparator {
  margin: 2px 4px 0 4px;
}

.defaultSkin .mceListBox .mceText {
  font-family: $font-stack;
  letter-spacing: .02em;
}

@mixin toolbar-btn ($name, $icon) {
  .defaultSkin span.mce_#{$name} {
    background-position: unset;

    &::before {
      @include material-icon('#{$icon}', $size: 20px, $weight: normal);
      width: 20px;
      height: 20px;
      margin: 2px;
    }
  }
}

@include toolbar-btn('forecolor', 'format_color_text');
.defaultSkin span.mce_forecolor::before { padding: 0; }
@include toolbar-btn('backcolor', 'border_color');
.defaultSkin span.mce_backcolor::before { padding: 0; }

@include toolbar-btn('cut', 'clear');
@include toolbar-btn('copy', 'file_copy');
@include toolbar-btn('paste', 'assignment');

@include toolbar-btn('pasteword', 'assignment_ind');
@include toolbar-btn('code', 'edit');


@include toolbar-btn('bold', 'format_bold');
@include toolbar-btn('italic', 'format_italic');
@include toolbar-btn('underline', 'format_underline');
@include toolbar-btn('strikethrough', 'format_strikethrough');

@include toolbar-btn('indent', 'format_indent_increase');
@include toolbar-btn('outdent', 'format_indent_decrease');

@include toolbar-btn('bullist', 'format_list_bulleted');
@include toolbar-btn('numlist', 'format_list_numbered');
@include toolbar-btn('table', 'border_all');

@include toolbar-btn('link', 'link');
@include toolbar-btn('unlink', 'link_off');
@include toolbar-btn('insertmedia', 'attach_file');
@include toolbar-btn('image', 'photo');
@include toolbar-btn('smilies', 'insert_emoticon');


// Toolbar Button State
.defaultSkin a.mceButtonEnabled:hover {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px outset #ccc;
}

.defaultSkin a.mceButtonActive,
.defaultSkin a.mceButtonSelected {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px inset #ccc;
}

.defaultSkin .mceSplitButton a.mceAction {
  border: 1px solid transparent;
}

.defaultSkin .mceSplitButton a.mceOpen {
  border: 1px solid transparent;
}

.defaultSkin table.mceSplitButtonEnabled:hover a.mceAction,
.defaultSkin .mceSplitButtonHover a.mceAction,
.defaultSkin .mceSplitButtonSelected a.mceAction {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px outset #ccc;
}


.defaultSkin table.mceSplitButtonEnabled:hover a.mceOpen,
.defaultSkin .mceSplitButtonHover a.mceOpen,
.defaultSkin .mceSplitButtonSelected a.mceOpen {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px outset #ccc;
}
.defaultSkin .mceSplitButtonActive a.mceAction {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px outset #ccc;
}
