// The huge amount of !important declarations are soley the fault of Edge

// Reply Header Description
// ctl00_ctl00_bcr_bcr_PostForm_ctl05_ComposePane
.Editor .CommonFormArea > .CommonFormFieldName > strong {
  font-size: 20px;
  text-shadow: $header-text-shadow;
}

// Quick Reply Header Description
.CommonFormArea > .CommonFormFieldName > label[for="ctl00_bcr_PostForm_ctl05_PostBody"] {
  font-size: 20px;
  text-shadow: $header-text-shadow;
}


.defaultSkin table.mceLayout {
  border: 1px solid #999 !important;
  box-shadow: $menu-shadow !important;
}

.defaultSkin table.mceLayout tr.mceFirst td {
  border: none !important;
}

.defaultSkin table.mceLayout tr.mceLast td {
  border: none !important;
}


// Toolbar
.defaultSkin td.mceToolbar {
  padding: 4px 2px;
  background: linear-gradient(
    to bottom,
    rgba(192, 192, 192, 1) 0%,
    rgba(160, 160, 160, 1) 80%,
    rgba(144, 144, 144, 1) 100%
  ) !important;
}

// Statusbar
.defaultSkin td.mceStatusbar {
  background: linear-gradient(
    to bottom,
    rgba(192, 192, 192, 1) 0%,
    rgba(160, 160, 160, 1) 80%,
    rgba(144, 144, 144, 1) 100%
  ) !important;
}


// Toolbar Buttons
.defaultSkin .mceButton {
  border: 1px solid transparent !important;
  width: 24px !important;
  height: 24px !important;
  margin: 2px !important;
}

.defaultSkin .mceSplitButton span.mceAction {
  @include fa-icon;
  @extend .fas;
  height: 18px !important;
  background: none !important;
}

.defaultSkin .mceIcon {
  @include fa-icon;
  @extend .fas;
  background: none !important;
  width: 24px !important;
  height: 24px !important;
  padding-top: 2px !important;
}

.defaultSkin img.mceIcon {
  display: none !important;
}

.defaultSkin .mceSeparator {
  margin: 2px 4px 0 4px !important;
}

.defaultSkin .mceListBox .mceText {
  font-family: $font-stack !important;
  letter-spacing: .02em !important;
}

$toolbar-buttons: (
  forecolor: $fa-var-font,
  backcolor: $fa-var-palette,
  cut: $fa-var-cut,
  copy: $fa-var-copy,
  paste: $fa-var-paste,
  pasteword: $fa-var-file-word,
  code: $fa-var-code,
  bold: $fa-var-bold,
  italic: $fa-var-italic,
  underline: $fa-var-underline,
  strikethrough: $fa-var-strikethrough,
  indent: $fa-var-indent,
  outdent: $fa-var-outdent,
  bullist: $fa-var-list-ul,
  numlist: $fa-var-list-ol,
  table: $fa-var-table,
  link: $fa-var-link,
  unlink: $fa-var-unlink,
  insertmedia: $fa-var-paperclip,
  image: $fa-var-image,
  smilies: $fa-var-smile
);


@each $class, $icon in $toolbar-buttons {
  .defaultSkin span.mce_#{$class} {
    background-position: unset !important;
    text-align: center !important;

    &::before {
      content: fa-content(#{$icon});
      color: #333 !important;
      font-size: 18px !important;
      width: 20px !important;
      height: 20px !important;
    }
  }
}

.defaultSkin span.mce_forecolor::before { font-size: 16px !important; text-align: center !important; }
.defaultSkin span.mce_backcolor::before { font-size: 16px !important; text-align: center !important; }


// Toolbar Button State
.defaultSkin a.mceButtonEnabled:hover {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border: 1px outset #ccc !important;
}

.defaultSkin a.mceButtonActive,
.defaultSkin a.mceButtonSelected {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 1px inset #ccc !important;
}

.defaultSkin .mceSplitButton a.mceAction {
  border: 1px solid transparent !important;
}

.defaultSkin .mceSplitButton a.mceOpen {
  border: 1px solid transparent !important;
}

.defaultSkin table.mceSplitButtonEnabled:hover a.mceAction,
.defaultSkin .mceSplitButtonHover a.mceAction,
.defaultSkin .mceSplitButtonSelected a.mceAction {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border: 1px outset #ccc !important;
}

.defaultSkin table.mceSplitButtonEnabled:hover a.mceOpen,
.defaultSkin .mceSplitButtonHover a.mceOpen,
.defaultSkin .mceSplitButtonSelected a.mceOpen {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border: 1px outset #ccc !important;
}

.defaultSkin .mceSplitButtonActive a.mceAction {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border: 1px outset #ccc !important;
}
