// The huge amount of !important declarations are soley the fault of Edge

// Reply Header Description
// ctl00_ctl00_bcr_bcr_PostForm_ctl05_ComposePane
.Editor .CommonFormArea > .CommonFormFieldName > strong {
  font-size: 20px;
  text-shadow: $header-text-shadow;
}

// Quick Reply Header Description
.CommonFormArea > .CommonFormFieldName > label[for="ctl00_bcr_PostForm_ctl05_PostBody"] {
  font-size: 20px;
  text-shadow: $header-text-shadow;
}


.defaultSkin table.mceLayout {
  border: 1px solid #999 !important;
  box-shadow: $menu-shadow !important;
}

.defaultSkin table.mceLayout tr.mceFirst td {
  border: none !important;
}

.defaultSkin table.mceLayout tr.mceLast td {
  border: none !important;
}


// Toolbar
.defaultSkin td.mceToolbar {
  padding: 4px 2px;
  background: linear-gradient(
    to bottom,
    rgba(192, 192, 192, 1) 0%,
    rgba(160, 160, 160, 1) 80%,
    rgba(144, 144, 144, 1) 100%
  ) !important;
}

// Statusbar
.defaultSkin td.mceStatusbar {
  background: linear-gradient(
    to bottom,
    rgba(192, 192, 192, 1) 0%,
    rgba(160, 160, 160, 1) 80%,
    rgba(144, 144, 144, 1) 100%
  ) !important;
}


// Toolbar Buttons => XXX Replace with Font Awesome: too many missing icons
.defaultSkin .mceButton {
  border: 1px solid transparent !important;
  width: 24px !important;
  height: 24px !important;
  margin: 2px !important;
}

.defaultSkin .mceSplitButton span.mceAction {
  width: 18px !important;
  height: 18px !important;
  background: none !important;
}

.defaultSkin .mceIcon {
  @include material-icon('', $size: 20px, $weight: normal);
  background: none !important;
  width: 24px !important;
  height: 24px !important;
  padding-top: 2px !important;
}

.defaultSkin img.mceIcon {
  display: none !important;
}

.defaultSkin .mceSeparator {
  margin: 2px 4px 0 4px !important;
}

.defaultSkin .mceListBox .mceText {
  font-family: $font-stack !important;
  letter-spacing: .02em !important;
}

$toolbar-buttons: (
  forecolor: "format_color_text",
  backcolor: "border_color",
  cut: "clear",
  copy: "file_copy",
  paste: "assignment",
  pasteword: "assignment_ind",
  code: "edit",
  bold: "format_bold",
  italic: "format_italic",
  underline: "format_underline",
  strikethrough: "format_strikethrough",
  indent: "format_indent_increase",
  outdent: "format_indent_decrease",
  bullist: "format_list_bulleted",
  numlist: "format_list_numbered",
  table: "border_all",
  link: "link",
  unlink: "link_off",
  insertmedia: "attach_file",
  image: "photo",
  smilies: insert_emoticon
);


@each $class, $icon in $toolbar-buttons {
  .defaultSkin span.mce_#{$class} {
    background-position: unset;

    &::before {
      content: '#{$icon}';
      width: 20px !important;
      height: 20px !important;
      margin: 2px !important;
    }
  }
}

.defaultSkin span.mce_forecolor::before {
  @include material-icon('format_color_text', $size: 20px, $weight: normal);
  padding: 0 !important;
}

.defaultSkin span.mce_backcolor::before {
  @include material-icon('border_color', $size: 20px, $weight: normal);
  padding: 0 !important;
}


// Toolbar Button State
.defaultSkin a.mceButtonEnabled:hover {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border: 1px outset #ccc !important;
}

.defaultSkin a.mceButtonActive,
.defaultSkin a.mceButtonSelected {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 1px inset #ccc !important;
}

.defaultSkin .mceSplitButton a.mceAction {
  border: 1px solid transparent !important;
}

.defaultSkin .mceSplitButton a.mceOpen {
  border: 1px solid transparent !important;
}

.defaultSkin table.mceSplitButtonEnabled:hover a.mceAction,
.defaultSkin .mceSplitButtonHover a.mceAction,
.defaultSkin .mceSplitButtonSelected a.mceAction {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border: 1px outset #ccc !important;
}

.defaultSkin table.mceSplitButtonEnabled:hover a.mceOpen,
.defaultSkin .mceSplitButtonHover a.mceOpen,
.defaultSkin .mceSplitButtonSelected a.mceOpen {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border: 1px outset #ccc !important;
}

.defaultSkin .mceSplitButtonActive a.mceAction {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border: 1px outset #ccc !important;
}
