// Insert Media dialog tabset
#ctl00_bcr_MediaTabs_TabSet.CommonPaneTabSet {
  Background-color: $color-page-background;

  .CommonPaneTab,
  .CommonPaneTabHover,
  .CommonPaneTabSelected {
    text-decoration: none;
    background-color: #ddd;
    margin: 0;
    padding: 0;
    padding: .5em 1em;
    margin: .5em .5em 0 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  .CommonPaneTabHover {
    background-color: #eee;
  }

  .CommonPaneTabSelected {
    background-color: #fff;
  }
}

///////////////////////////////////////////

#ctl00_ctl00_bcr_bcr_PostForm_ctl05_EditorTabs_TabSet.CommonPaneTabSet {
  width: 70%;
  border-bottom: 4px solid $color-medium-secondary-text;

  & > div > table {
    display: inline;
  }

  a.CommonPaneTab,
  a.CommonPaneTabHover,
  a.CommonPaneTabSelected {
    display: inline-block;
    padding: .5em 1em;
    margin: .5em .5em 0 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transform: scale(.95);
    transform-origin: bottom;
  }

  a.CommonPaneTab {
    background: linear-gradient(to bottom, silver 0%, #a0a0a0 80%, #909090 100%);
  }

  a.CommonPaneTabHover {
    background: none;
    background-color: $color-light-secondary-head;

    .TabButton {
      font-weight: 500;
    }
  }

  a.CommonPaneTabSelected {
    background: none;
    background-color: $color-medium-secondary-text;
    transform: scale(1);

    .TabButton {
      font-weight: 700;
    }
  }

  .TabButton {
    background-image: none;
    background-color: transparent;
    color: #333;
    text-decoration: none;
    font-weight: 400;
  }
}
