// Insert Media dialog tabset
#ctl00_bcr_MediaTabs_TabSet.CommonPaneTabSet {
  Background-color: $color-page-background;
  width: 100%;
  border: none;

  .CommonPaneTab,
  .CommonPaneTabHover,
  .CommonPaneTabSelected {
    background: none;
    background-color: #ddd;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin: 0;
    padding: 0;
    padding: .5em 1em;
    margin: .5em .5em 0 0;
    text-decoration: none;
  }

  .CommonPaneTabHover {
    background-color: #eee;
  }

  .CommonPaneTabSelected {
    background-color: #fff;
  }
}

///////////////////////////////////////////

#ctl00_ctl00_bcr_bcr_PostForm_ctl05_EditorTabs {
  background-color: $color-content-background;
  margin: 0;
  padding: 0;
}

.CommonPaneTabSet {
  width: 70%;
  border-bottom: 4px solid $color-medium-secondary-text;

  & > div > table {
    display: inline;
  }

  .CommonPaneTab,
  .CommonPaneTabHover,
  .CommonPaneTabSelected {
    display: inline-block;
    padding: .5em 1em;
    margin: .5em .5em 0 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transform: scale(.95);
    transform-origin: bottom;
  }

  .CommonPaneTab {
    background: linear-gradient(to bottom, silver 0%, #a0a0a0 80%, #909090 100%);

    .TabButton {
      background-color: transparent;
    }
  }

  .CommonPaneTabHover {
    background-color: $color-light-secondary-head;

    .TabButton {
      background-color: transparent;
      font-weight: 500;
    }
  }

  .CommonPaneTabSelected {
    background-color: $color-medium-secondary-text;
    transform: scale(1);

    .TabButton {
      font-weight: 700;
    }
  }


}

.TabButton {
  display: block;
  box-sizing: border-box;
  background: none;
  background-color: $color-medium-secondary-text;
  height: auto !important;
  width: 80px !important;
  padding: .2em;
  border: none;
  border-radius: 2px !important;
  color: #333 !important;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
}
