// Comment Area: The forum post backgrounds
.CommonCommentArea {
  @include mdl-shadow--2dp;
  background-color: $color-light-primary-head;
  margin: 10px 0;
}

.CommonCommentContent {
  background-color: $color-light-primary-background !important;
  border-left: 2px solid $color-primary;
  padding: 10px;
}

.CommonCommentAreaAlt {
  @include mdl-shadow--2dp;
  background-color: $color-light-secondary-head;
  margin: 10px 0;
}

.CommonCommentContentAlt {
  background-color: $color-light-secondary-background !important;
  border-left: 2px solid $color-primary;
  padding: 10px;
}


// Post quotes

.CommonCommentContent blockquote,
.CommonCommentContentAlt blockquote {
  background-color: rgba(0,0,0,.03);
  box-shadow: none;
  margin: 1em 2em 1em 1.5em;
  padding: .5em 1em 1em 1em;
  border: none;
  border-top: 1px solid $color-primary; // or top-right or bottoom right or left-bottom ???
  border-right: 1px solid $color-primary;
  border-radius: 0;
}

.CommonCommentContent blockquote div:first-of-type > img:first-of-type,
.CommonCommentContentAlt blockquote div:first-of-type > img:first-of-type {
  display: none;


  & + strong {
    position: relative;
    top: -1em;

    &:before {
      display: inline-block;
      position: relative;
      left: -.1em;
      top: .25em;
      content: open-quote;
      font-family: "Times New Roman", Times, serif;
      font-weight: 700;
      font-size: 3em;
      color: $color-primary;
      height: 1em;
    }
  }
}
