html, body {
  background-image: none;
  background-color: $color-page-background;
  color: black;
  font-family: $font-stack;
}

blockquote {
  @include mdl-shadow--2dp;
  quotes: "\201c" "\201d";
  background-color: $color-light-secondary-head;
  border: none;
  border-radius: 5px;
  margin: 1em 2em 1em 1em;
  padding: .5em 1em 1em 1em;
}

a {
  &:link,
  &:active,
  &:visited {
    color: $color-primary;
    text-decoration: none;
    font-weight: 500;
  }

  &:hover {
    color: $color-secondary;
    text-decoration: underline;
  }
}

select,
textarea,
input,
button {
  background-color: $color-light-secondary-background;
  border-radius: 5px !important;
  font-family: $font-stack;
  margin: 2px 4px;
  padding: 2px 4px;
  letter-spacing: .07em;
  white-space: normal !important;
}
