html, body {
  background-image: none;
  background-color: $color-page-background;
  color: black;
  font-family: $font-stack;
}

blockquote {
  @include mdl-shadow--2dp;
  quotes: "\201c" "\201d";
  background-color: $color-light-secondary-head;
  border: none;
  border-radius: 5px;
  margin: 1em 2em 1em 1em;
  padding: .5em 1em 1em 1em;
}

a {
  &:link,
  &:active,
  &:visited {
    color: $color-primary;
    text-decoration: none;
    font-weight: 500;
  }

  &:hover {
    color: $color-secondary;
    text-decoration: underline;
  }
}

select,
textarea,
input,
button {
  background-color: $color-light-secondary-background;
  border-radius: 4px !important;
  color: #333;
  font-family: $font-stack;
  margin: 2px 4px;
  padding: 2px 4px;
  letter-spacing: .1em;
  white-space: normal !important;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background:
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' data-prefix='fas' data-icon='caret-down' class='svg-inline--fa fa-caret-down fa-w-10' width='10.577' height='6'%3E%3Cpath d='M.712 0h9.154a.71.71 0 0 1 .501 1.213L5.792 5.792a.713.713 0 0 1-1.007 0L.21 1.213A.71.71 0 0 1 .712 0z' fill='%23777' stroke-width='.036'/%3E%3C/svg%3E")
    calc(100% - 10px)
    no-repeat
    $color-light-secondary-background;
  border: none;
  border: solid 1px #777;
  // border-radius: 12px !important;
  padding: 4px 32px 4px 16px;
}

label {
  letter-spacing: .1em;
}

label > input {
  margin-right: 4px !important;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  display: inline-block;
  border: 1px solid #777;
  border-radius: 4px !important;
  padding: .5em 1em;
  margin: .5em .25em;
  text-decoration: none;
  background: linear-gradient(to bottom, silver 0%, #a0a0a0 80%, #909090 100%);
  color: #333;
  font-family: $font-stack;
  font-weight: 500;
  font-size: 1em;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 80px;
}

button:hover,
button:focus {
  // background: #0053ba;
}

button:focus {
  // outline: 1px solid #fff;
  // outline-offset: -4px;
}

button:active {
  // transform: scale(0.99);
}
