// Colors
$color-faithlife-green: #5fbc39;
$color-logos-blue: #005ec4; //#0663c7;
$color-logos-complement: complement($color-logos-blue);

$color-primary: $color-logos-blue;
$color-light-primary-head: saturate( mix(white, $color-primary, $weight: 85%), 10 );
$color-light-primary-background: mix(white, $color-primary, $weight: 95%);

$color-secondary: $color-logos-complement;
$color-medium-secondary-text: saturate( mix(white, $color-secondary, $weight: 35%), 10 );
$color-light-secondary-head: saturate( mix(white, $color-secondary, $weight: 85%), 10 );
$color-light-secondary-background: mix(white, $color-secondary, $weight: 95%);

$color-logos-brand-header: #f4f4f4;
$color-page-background: mix(black, $color-logos-brand-header, $weight: 20); // darken($color-logos-brand-header, 20);
$color-content-background: mix(black, $color-logos-brand-header, $weight: 60); // darken($color-logos-brand-header, 60);

$color-warning-yellow: #ffebb4;
$color-error-red: #d66;
