.ForumReplyToPostArea {
  border: outset 1px $color-page-background;
  background-color: $color-light-primary-background;
}

.CommonFormArea {
  background-color: $color-content-background;
  // border: 2px $color-content-background solid;
  padding: 5px;
}

.mceContentBody {
  background-color: white;
}

.CommonFormField label {
  color: $color-logos-brand-header;
}

.CommonFormFieldName {
  color: $color-medium-secondary-text;
}

div.CommonFormFieldPadding {
  padding: 5px 10px 10px 10px;
}

div.CommonFormFieldName input {
  background-image: none;
  background-color: $color-light-secondary-background;
  border: 1px solid #808080;
  border-radius: 8px;
  color: black;
  padding: 2px 10px;
}

// Modal dialogs

.CommonModal {
  background-color: $color-logos-brand-header;
  border: solid 3px #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .CommonModalTitle {
    background-color: $color-logos-brand-header;
    border: none;
  }
}

// HTML Editor

body.forceColors {
  background-color: #f0f0ee;

  #insert,
  #cancel,
  input {
    background-image: none;
    background-color: $color-light-secondary-background;
    border: 1px solid #808080;
    border-radius: 8px;
    color: black;
  }
}

// Insert Media
body#image {
  .panel_wrapper {
    height: 190px;
  }

  .CommonModal {
    background-color: $color-page-background;
  }

  #insert,
  #cancel,
  .mceActionPanel input {
    background-image: none;
    background-color: $color-light-secondary-background;
    border: 1px solid #808080;
    border-radius: 8px;
    color: black;
  }
}

div#ctl00_bcr_MediaTabs_TabSet a:hover {
  background-color: $color-light-secondary-background;
  color: black;
}
