.ForumReplyToPostArea {
  border: outset 1px $color-page-background;
  background-color: $color-light-primary-background;
}

.CommonFormArea {
  background-color: $color-content-background;
  border-radius: 8px;
  padding: 5px;
}

.mceContentBody {
  background-color: white;
}

.CommonFormField label {
  color: $color-logos-brand-header;
}

.CommonFormFieldName {
  color: $color-medium-secondary-text;
}

div.CommonFormFieldPadding {
  padding: 5px 10px 10px 10px;
}

div.CommonFormFieldName {
  input {
    background-image: none;
    background-color: $color-medium-secondary-text;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    color: black;
    font-weight: bold;
    margin: 0;
    opacity: 0.7;
    padding: 5px 10px;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; // Safari
    width: 90px !important;
  }

  input:hover {
    cursor: pointer;
    opacity: 1;
  }
}

// HTML Editor

body.forceColors {
  background-color: #f0f0ee;

  input#insert {
    background-image: none;
  }

  input#cancel {
    background-image: none;
  }
}

// Insert Media
body#image {

  .panel_wrapper {
    height: 190px;
  }

  .CommonModal {
    background-color: $color-page-background;

    .CommonModalContent body {
      background-color: $color-content-background;

      // .CommonContent {
      //   background-color: green;
      // }
      // .CommonPane {
      //   background-color: blue
      // }
    }
  }

  #insert,
  #cancel,
  .mceActionPanel input {
    background-image: none;
    background-color: $color-medium-secondary-text;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: black;
    margin: 0;
    opacity: 0.7;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; // Safari

    &:link,
    &:visited {
      transition: all 0.1s;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    &:hover {
      opacity: 1;
      transform: translateY(-2px);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
  }
}
