body {
  background-image: none;
  background-color: $color-page-background;
  color: black;
  font-family: $font-stack;
}

blockquote {
  background-color: $color-light-secondary-head;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 4px 8px 8px 8px;
  -webkit-margin-start: 20px;
}

a {
  font-weight: 500;

  &:visited,
  &:link,
  &:active {
    color: $color-secondary;
    text-decoration: none;
  }

  &:hover {
    color: $color-secondary;
    text-decoration: underline;
  }
}

.CommonBreadCrumbArea a {
  color: $color-header-footer-link;
}

#CommonFooter a {
  color: $color-header-footer-link;
}

#navInfo a,
#navSites a,
#subHeader a {
  color: $color-header-footer-link;
  font-weight: normal;
}

#navInfo .current a:link,
#navSites .current a:visited,
#navSites .current a {
  color: $color-secondary;
}

#navInfo a:hover,
#navSites a:hover,
#subHeader a:hover {
  color: $color-secondary;
}

#CommonHeaderUserArea a {
}

#CommonHeaderUserWelcome .sub a {
  color: $color-header-footer-link;
}

#CommonHeaderUserWelcome .sub a:hover {
  color: $color-header-footer-link;
}

.CommonContentBoxHeaderForm a {
  color: $color-medium-secondary-text;

}

a.ForumLinkUnread,
.ForumLinkUnread:link,
.ForumLinkUnread:visited {
  color: $color-dark-link;
}

a.ForumNameUnRead,
.ForumNameUnRead:link,
.ForumNameUnRead:visited {
  color: $color-dark-link;
  font-weight: bold;
}
a.ForumGroupNameReadText,
a.ForumGroupNameUnReadText,
.ForumGroupNameReadText:link,
.ForumGroupNameUnReadText:link,
.ForumGroupNameReadText:visited,
.ForumGroupNameUnReadText:visited {
  font-weight: bold;
  color: $color-dark-link;
}

select,
textarea,
input,
button {
  background-color: $color-light-secondary-background;
  border-radius: 5px !important;
  font-family: $font-stack;
}

button:hover,
[type='button']:hover,
[type='reset']:hover,
[type='submit']:hover {
  cursor: pointer;
}
