.CommonContextMenuItem {
  background-color: $color-light-secondary-background;
  border: solid 1px $color-light-secondary-background;
  padding: 8px;
}

.CommonContextMenuItemHover {
  background-color: $color-light-secondary-head;
  border: solid 1px $color-medium-secondary-text;
  color: black;
  padding: 8px;
}
