// Left Sidebar
#CommonSidebarLeft {
  .CommonContentBoxHeader {
    border-bottom: 1px solid $color-medium-secondary-text;
    margin: 8px;
    padding: 0;
  }

  .CommonContentBox {
    padding: 5px;
  }

  .CommonContentBoxContent {
    color: $color-light-secondary-head;

    a {
      color: $color-medium-secondary-text;
    }
  }

  ul.CommonContentBoxList a {
    color: $color-light-secondary-head;
  }
}

// Right Sidebar
#CommonSidebarRight {
  .CommonContentBoxHeader {
    border-bottom: 1px solid $color-medium-secondary-text;
    margin: 8px;
    padding: 0;
  }

  .CommonContentBox {
    padding: 5px;
  }

  ul.CommonContentBoxList a {
    color: $color-light-secondary-head;
  }
}

// Sidebar common
ul.CommonContentBoxList,
ul.CommonSidebarList a {
  color: $color-light-secondary-head;
}
