.CommonContentBoxHeader {
  background-image: none;
  color: $color-medium-secondary-text;
  padding: 0;
  padding: 10px 10px 0 10px;
}

h4.CommonContentBoxHeader + .CommonContentBoxContent {
  color: white;
}

#CommonContent .CommonContentBoxHeader {
  background-image: none;
  color: $color-medium-secondary-text;
  padding: 10px 10px 0 10px;
}

.CommonTitle {
  color: black;
}

h1.CommonTitle {
  font-variant: small-caps;
  font-size: 200%;
  font-weight: 500;
}

.CommonContentBox {
  background-color: $color-content-background;
  border-radius: 10px;
  padding: 5px;
}

.CommonContentBoxHeaderForm {
  background-image: none;
  margin: 10px 10px 0 10px;
  border: 1px outset $color-logos-brand-header;
  border-radius: 8px;
  padding: 5px;
  color: $color-logos-brand-header;

  a {
    color: $color-medium-secondary-text;
  }

  a.ForumLinkUnread,
  .ForumLinkUnread:link,
  .ForumLinkUnread:visited {
    color: $color-medium-secondary-text;
  }
}

.CommonContentBoxContent {
  padding: 10px;

  table a {
    color: $color-medium-secondary-text;
  }

  .ForumPostButtons table a {
    color: $color-logos-complement;
  }

  li.CommonAvatarListItemArea {
    background-color: desaturate($color-light-primary-background, 30);
    color: black;
  }

  li.CommonAvatarListItemArea.Alt {
    background-color: desaturate($color-light-secondary-background, 30);
    color: black;
  }

  div.CommonPane {
    background-color: $color-light-secondary-background;

    .CommonFormField label {
      color: black;
    }
  }
}

ul.CommonContentBoxList {
  li.Header {
    color: white;
    font-weight: normal;
  }

  li.CommonActivity {
    color: white;

    // Hide the Delete Activity image
    table a img {
      display: none;
    }

    // Trick in a new custom replacement
    table tr td + td a {  
      background: transparent $icon-trash center right no-repeat;
      padding-right: 16px;
    }
  }

  li.CommonActivity.NewForumThread {
    background-image: $icon-message;
  }

  li.CommonActivity.NewForumPost {
    background-image: $icon-message-reply;
  }
}

.CommonListArea {
  padding: 2px 0;

  table tr td a {
    color: #056cb6;
  }
}

.CommonListHeader {
  color: black;
  background-color: $color-logos-brand-header !important;
  font-family: $font-stack;
}

.CommonDescription {
  color: $color-logos-brand-header;
  margin: 0;
}

.CommonListRow td {
  background-color: desaturate($color-light-primary-background, 30);
}

.CommonListRowAlt td {
  background-color: grayscale($color-light-primary-background);
}

.CommonListCell {
  font-family: $font-stack;
  padding: 10px;
}

.ForumPostHeader {
  background-color: $color-logos-brand-header;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px 0;

  .CommonContentBoxFooter {
    color: Black;
  }
}

.CommonContentBoxFooter {
  padding: 0 10px 10px 10px;
  border-top: none;
  color: $color-logos-brand-header;

  a:link {
    color: $color-medium-secondary-text;
  }

  a:visited {
    color: $color-medium-secondary-text;
  }
}

// Comment Area
.CommonCommentArea {
  background-color: $color-light-primary-head;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px 0;
}

.CommonCommentContent {
  background-color: $color-light-primary-background !important;
  border-left: 2px solid $color-logos-blue;
  padding: 10px;
}

.CommonCommentAreaAlt {
  background-color: $color-light-secondary-head;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px 0;
}

.CommonCommentContentAlt {
  background-color: $color-light-secondary-background !important;
  border-left: 2px solid $color-logos-blue;
  padding: 10px;
}
