// I believe this section only occurs on profile edit page; otherwise, breakage

// Profile section
.CommonGroupedContentArea {
  @include mdl-shadow--2dp;
  background-color: $color-light-secondary-background;
  border-radius: 8px;
  padding: 10px 10px 20px 10px;

  h3.CommonSubTitle {
    color: $color-secondary;
    margin-top: 5px;
  }

  .CommonFormFieldDescription {
    color: black;

    a:link,
    a:visited,
    a:active,
    a:hover {
      color: $color-secondary;
    }
  }

  div.CommonFormFieldName {
    color: black;
    padding: 2px;
  }

  td.CommonFormFieldName {
    height: 2em;
  }

  .CommonFormField {
    label {
      color: black;

      input {
        // margin: 0 2px 0 10px;
      }

      &:not(:first-child) {
        margin-left: 12px;
      }
    }
  }
}

content > div.CommonFormFieldName {
  margin-top: -12px;
  margin-bottom: 8px;
}
