form[action*='EditProfile'] {
  // Validation box
  #ctl00_bcr_ValidationSummary {
    // @include mdl-shadow--2dp;
    border-radius: 4px;
    background-color: #d12;
    color: #eee;
    letter-spacing: 0.1em;

    ul {
      padding: 6px 6px 6px 24px;
    }
  }

  // Profile section
  .CommonGroupedContentArea {
    @include mdl-shadow--2dp;
    background-color: $color-light-secondary-background;
    border-radius: 8px;
    padding: 10px 10px 20px 10px;

    .CommonSubTitle {
      color: $color-secondary;
      margin-top: 5px;
    }

    .CommonFormFieldDescription {
      color: black;

      a:link,
      a:visited,
      a:active,
      a:hover {
        color: $color-secondary;
      }
    }

    .CommonFormFieldName {
      color: black !important;
      height: 2em;
    }

    .CommonFormField {
      label {
        color: black;

        &:not(:first-child) {
          margin-left: 12px;
        }
      }
    }
  } // .CommonGroupedContentArea

  content > .CommonFormFieldName {
    margin-top: 0;
    padding-top: 0;
  }
} // form
