// Format "Edit photo/profile" link under avatar in the sidebar
#CommonSidebarLeft {
  ul.CommonContentBoxList a[href="https://faithlife.com/account/edit"] {
    border-top: 1px dashed $color-light-secondary-head;
    padding-top: 2px;
    position: relative;
    top: 12px;
    font-size: 8pt;
    font-weight: normal;
  }
}

// Content of the About box
h4.CommonContentBoxHeader + .CommonContentBoxContent {
  color: white;
}

// My Activity secion on Profile page
ul.CommonContentBoxList {
  li.Header {
    color: white;
    font-weight: normal;
  }

  li.CommonActivity {
    color: white;

    table a img {
      // Hide the Delete Activity image
      display: none;
    }

    // & replace with FontAwesome font icon
    table tr td + td a::after {
      @include fontawesome-icon($fa-var-trash-alt, 16px);
      color: $color-medium-secondary-text;
    }

    table tr td + td a:hover {
      text-decoration: none;
    }
  }

  li.CommonActivity.NewForumThread {
    // Hide default image
    background-image: none;

    // & replace with FontAwesome font icon
    & td:first-child::before {
      @include fontawesome-icon($fa-var-envelope, 16px);
      color: $color-medium-secondary-text;
      margin-right: 0.5em;
    }
  }

  li.CommonActivity.NewForumPost {
    // Hide default image
    background-image: none;

    // & replace with FontAwesome font icon
    & td:first-child::before {
      @include fontawesome-icon($fa-var-reply, 18px);
      color: $color-medium-secondary-text;
      margin-right: 0.5em;
    }
  }
}
